.product-container{
    width: 100%;
    display: flex;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}
.product{
    display:flex;
    width: 100%;
    max-width: 1140px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img-container{
    flex: .6;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: -1;
    margin-right: 2rem;
}
.img-container img{
    transition: all 300ms ;
    width: 100%;
}
.img-container:hover img{
    transform: scale(1.4);
}
.product-info{
    max-width: 500px;
    margin-left: 2rem;
}
.product-info h2{
    margin-bottom:1rem ;
}
.price{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.description{
    line-height: 1.7rem;
    color: #555;
}


@media screen and (max-width:576px){
    .img-container{
        margin-right: 0;
    }
    .product-info{
        margin-left: auto;
    }
    .product-container{
        margin: 2rem 0;
    }
    .product{
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    
    .img-container{
        margin-bottom: 1.5rem;
    }
    .img-container img{
        transform: scale(1.1);
    }
}

