.products-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}
.products-container h1{
    color: var(--black);
}
.products{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products a {
    text-decoration: none;
}
.products-container h1{
    margin: 1rem 0;
}
.product-container{
    flex: calc(100% / 4) !important;
    z-index: -1;
    margin: 0 .5rem;
}
.product{
    padding: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-container{
    width: 325px;
    height: 225px;
    cursor: pointer;
    margin: 1rem auto;
    margin-bottom: .5rem;
    position: relative;
    transition: all 2000ms;
    z-index: -1;
    text-align: center;
}
 .product-container:hover .img-container::after  {
     content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 0px;
    right: 0px;
    z-index: 5;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25));
    border-radius: 5px;
}
.img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
} 

.title{
    color: var(--gray);
    font-size: var(--p-fontSize);
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
    padding-bottom: .15rem;
}
.product-container:hover .title{
    border-bottom: 1px solid #000;
}
.price {
    color: var(--red);
}
@media screen and (max-width:576px){
    .product-container{
        flex: calc(100% / 2) !important;
        width:100% !important;
        z-index: -1;
        margin: 0 .5rem;
        margin-right: .5rem;
    }
    .products{
        justify-content: center;
        padding: 1rem .5rem;
    }
    .img-container{
        width: 90%;
        min-height: 90%;
        height: 90%;
    }
    .img-container .img{
        width: 100%;
        height: 100%;
    }
}