.footer-container{
    background-color: #000;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.footer h2{
    font-size:2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.footer p{
    max-width:600px ;
    text-align: center;
    margin:auto auto 1rem auto; 
}
.footer form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
    max-width: 500px;
    margin: 1rem auto;
}

input,
input:active,
input:focus{
    background: transparent;
    border: none;
    width:450px ;
    padding: .25rem .5rem;
    color: #fff;
    font-size: 1.2rem;
    outline: none;
}
.footer button,
.footer button:active{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .25rem .5rem;
}

.contacts{
    text-align: center;
}
.contacts i{
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}
.copyright{
    text-align: center;
    font-size: .9rem;
}