.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#fff;
    box-shadow: 2px 0px 10px gray;
    z-index: 10;
}
.header{
    width: 100%;
    padding: 2rem 1rem;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    z-index: 10;
}
.logo a{
    text-decoration: none;
    color: #000;
}
.logo a:active{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.logo img{
    height: 50px;
    z-index: 10;
}
.nav a{
    text-decoration:none;
    color:var(--black);
    font-size: 1.2rem;
    cursor: pointer;
    padding: .25rem;
}
.nav a:hover{
    border-bottom: 2px solid var(--black);
}

@media screen and (max-width:576px){
    .logo img{
        height:40px;
    }
    .nav a{
    font-size: 1.1rem;
}
}