.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    width: 100%;
    padding: 2rem 0;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 2rem;
    text-transform: uppercase;
}
.cart{
    font-size: 2rem;
}