.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    width: 100%;
    padding: 2rem 0;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color: #000;
}
.logo a:active{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.cart{
    font-size: 2rem;
}
.cart i{
    font-size: 2rem;
}
.logo img{
    height: 50px;
}

@media screen and (max-width:576px){
    header{
        padding: 0 .5rem;
    }
    .cart i{
        font-size:1.5rem;
    }
    .logo img{
        height:40px;
    }
}